@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;

    --primary: 43 74% 49%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 328 100% 54%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 100%;
    --ring: 43 74% 49%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 43 74% 49%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 30%;
    --sidebar-ring: 43 74% 49%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 95%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 95%;

    --primary: 43 74% 49%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 85%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 65%;

    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 25%;
    --input: 0 0% 20%;
    --ring: 43 74% 49%;
    --sidebar-background: 0 0% 5%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 43 74% 49%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 43 74% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-space-grotesk;
  }
}